.icon {
  --color--primary: var(--muted-foreground);
  --color--text: var(--foreground);
  --ease-3: cubic-bezier(0.25, 0, 0.3, 1);
  --ease-out-3: cubic-bezier(0, 0, 0.3, 1);
  --ease-4: cubic-bezier(0.25, 0, 0.2, 1);
  --ease-elastic-4: cubic-bezier(0.5, 1.5, 0.75, 1.25);
}

.icon:hover .label.icon {
  color: var(--color--primary);
}

.icon:hover .moon.icon,
.icon:hover .sun.icon {
  fill: var(--color--primary);
}

.icon:hover .moon.icon > .icon {
  filter: drop-shadow(0px 0px 3px var(--color--primary));
}

.icon:hover .sunBeams.icon {
  stroke: var(--color--primary);
}

.icon:hover .sunBeams line.icon {
  filter: drop-shadow(0px 0px 3px var(--color--primary));
}

.label.icon {
  transition: all 0.5s var(--ease-4);
  text-transform: uppercase;
  font-size: 0.6rem;
  opacity: 0;
  transform-origin: left;
  transform: scaleX(0);
  max-width: 0;
  color: var(--color--text);
}

.moon.icon,
.sun.icon {
  fill: var(--color--text);
  stroke: none;
}

.sun.icon {
  transition: all 0.5s var(--ease-4);
  transform-origin: center center;
}

.sunBeams.icon {
  --_opacity-dur: 0.15s;
  stroke: var(--color--text);
  stroke-width: 2px;
  transform-origin: center center;
  transition: all 0.5s var(--ease-elastic-4),
    opacity var(--_opacity-dur) var(--ease-3);
}

.moon.icon > circle.icon {
  transition: all 0.5s var(--ease-out-3);
}

.icon:not([data-theme]) .sun.icon {
  transform: scale(0.5);
}

.icon:not([data-theme]) .sunBeams.icon {
  transform: rotate(0.25turn);
  --_opacity-dur: 0.5s;
}

[data-theme="auto"].icon .label.icon {
  opacity: 1;
  transform: scaleX(1);
  max-width: 30px;
}

@media not all and (prefers-color-scheme: dark) {
  [data-theme="auto"].icon .sun.icon {
    transform: scale(0.5);
  }

  [data-theme="auto"].icon .sunBeams.icon {
    transform: rotate(0.25turn);
    --_opacity-dur: 0.5s;
  }
}

@media (prefers-color-scheme: dark) {
  [data-theme="auto"].icon .moon.icon > circle.icon {
    transform: translate(-20px);
  }

  [data-theme="auto"].icon .sunBeams.icon {
    opacity: 0;
  }
}

[data-theme="light"].icon .sun.icon {
  transform: scale(0.5);
}

[data-theme="light"].icon .sunBeams.icon {
  transform: rotate(0.25turn);
  --_opacity-dur: 0.5s;
}

[data-theme="dark"].icon .moon.icon > circle.icon {
  transform: translate(-20px);
}

[data-theme="dark"].icon .sunBeams.icon {
  opacity: 0;
}
